{% extends 'base.html' %}
{% load url from future %}

{% block content %}
    <div class="h2">Ebola Frequent Asked Questions</div>
    <!-- <div class="intro">Facts for Life saves lives!</div> -->
    <div class="detail">
        <p>
            This FAQ responds to the most frequently asked questions, as
            received on Zambia U-Report.
        </p>
    </div>
    <div class="pagination">
        <a href="{% url 'credits' %}">Credits</a> | <a href="{% url 'contact' %}">Contact Us</a>
        <div class="clear"></div>
    </div>
{% endblock %}
