{% extends 'base.html' %}
{% load url from future %}

{% block above_content %}
<div id="banner"><img src="{{ STATIC_URL }}img/header.jpg"></div>
{% endblock %}

{% block content %}
    <div id="content">
        {% for cat in categories %}
        <div class="h1">
            <a href="{% url 'category_object_list' cat.slug %}"> {{cat.title}}</a>
            <div class="clear"></div>
        </div>
        {% endfor %}

        <div class="detail">
            <p><strong>Ebola virus Frequently Asked Questions</strong></p>
            <p>
                24 September 2014: Although there are no known instances of Ebola virus in Zambia at this time, we know that many citizens are concerned. So we present this site to answer your Frequently Asked Questions.
            </p>
            <p><a href="{% url 'about' %}">Read more »</a></p>
        </div>
    </div>
{% endblock %}
